<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SyncEmpMEA.Properties.Settings.WolfapproveCore_meaConnectionString"
            connectionString="Data Source=DESKTOP-SHLJS2M\SQLEXPRESS2019;Initial Catalog=WolfapproveCore.mea;Persist Security Info=True;User ID=sa;Password=pass@word1;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="ApiKey" value="VY6gIB1NeP2Qtcz5uadVNtFrWUMVhc9I"/>
		<add key="ApiURL" value="https://apidev.mea.or.th/employee3/emp/employee"/>
		<add key="ApiOrgURL" value="https://apidev.mea.or.th/employee3/org/org-flat"/>
		<add key="LogFile" value="D:\Wolf\Job\Employee\Log\" />
		<add key="dbConnectionString" value="data source=DESKTOP-SHLJS2M\SQLEXPRESS2019;initial catalog=WolfapproveCore.mea;persist security info=True;user id=sa;password=pass@word1;" />
	</appSettings>
</configuration>